.export_btn{
    padding: 10px;
    display: block;
}
h1{
    display: table;
    margin: 0 auto;
}
.pages{
    width: 100px;
    margin: 0 auto;
}
a{
    margin: 2px;
}
input[type='submit']:hover{
background-color: rgb(76, 214, 41);
cursor: pointer;
}
input[type='submit']:focus{
    background-color: rgb(144, 250, 117);
    }