* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body .column {
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#F2F5FA));
  background: linear-gradient(180deg, #ffffff 0%, #F2F5FA 100%);
}

body .hidden {
  display: none !important;
}

body .left {
  width: 35%;
  height: 1080px;
}

body .left .navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  width: 90%;
  margin: 50px auto;
}

body .left .navigation-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
}

body .left .navigation-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: right;
  -webkit-box-flex: 1.4;
      -ms-flex: 1.4;
          flex: 1.4;
}

body .left .navigation-bar ul li {
  display: inline-block;
  padding-left: 20px;
}

body .left .navigation-bar ul li a {
  color: #6A707B;
  text-decoration: none;
  font-size: 1em;
}

body .left .navigation-bar ul li a:hover {
  color: #1851b9;
}

body .left .content {
  width: 75%;
  margin: auto;
  margin-top: 160px;
}

body .left .content.margins {
  margin-top: 110px;
}

body .left .content .teksts h1 {
  font-family: Georgia;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  color: #131821;
}

body .left .content .teksts p {
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;
}

body .left .content form .input_box {
  position: relative;
  width: 150%;
  height: 70px;
  margin: 50px auto;
  margin-left: -10%;
}

body .left .content form .input_box .myButton {
  border: none;
}

body .left .content form .input_box .myButton img {
  position: absolute;
  cursor: pointer;
  top: 43%;
  right: 5%;
}

body .left .content form .input_box .line {
  position: absolute;
  width: 4px;
  height: 100%;
  background: #4066A5;
}

body .left .content form .input_box input {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #E3E3E4;
  padding: 20px 44px;
  font-size: 16px;
  line-height: 24px;
  color: #6A707B;
}

body .left .content form .input_box input:focus {
  -webkit-box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
          box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

body .left .content form .input_box input:hover {
  border: 1px solid #4066a5;
  -webkit-box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
          box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

body .left .content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .left .content .container .cb {
  width: 26px;
  height: 26px;
  border-radius: 3px;
}

body .left .content .container .cb:active {
  background: #4066A5;
}

body .left .content .container span {
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;
  margin-left: 15px;
}

body .left .content .container span a {
  color: #000;
  font-size: 16px;
}

body .left .content .container span a:hover {
  color: #4066A5;
}

body .left .content .container span a:visited {
  color: #233759;
}

body .left .content .h-line {
  height: 1px;
  margin: 50px auto;
  background: #E3E3E4;
}

body .left .content .icons {
  width: 60%;
  height: 46px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .left .content .icons a {
  width: 46px;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #e3e3e4;
  text-align: center;
  line-height: 44px;
}

body .left .content .icons a:hover, body .left .content .icons a:focus {
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

body .left .content .icons a:hover i, body .left .content .icons a:focus i {
  color: #ffffff;
  opacity: 1;
}

body .left .content .icons a i {
  color: #131821;
  opacity: 0.3;
}

body .left .content .icons .facebook:hover {
  background: #4267b2;
}

body .left .content .icons .facebook:focus {
  background: #2F4A80;
}

body .left .content .icons .instagram:hover {
  background: #C13584;
}

body .left .content .icons .instagram:focus {
  background: #8F2762;
}

body .left .content .icons .twitter:hover {
  background: #1DA1F2;
}

body .left .content .icons .twitter:focus {
  background: #177FBF;
}

body .left .content .icons .youtube:hover {
  background: #FF0000;
}

body .left .content .icons .youtube:focus {
  background: #CC0000;
}

body .right {
  height: 100%;
  width: 65%;
  background-image: url(../images/image_summer.png);
  min-height: 1080px;
}

@media (max-width: 800px) {
  body .left {
    width: 100%;
    background-image: url(../images/image_summer.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  body .left .navigation-bar {
    padding-top: 10px;
    background-color: #ffffff;
    position: relative;
    margin: 0px auto;
    width: 100%;
  }
  body .left .navigation-bar .logo {
    margin-left: 20px;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
  body .left .navigation-bar .logo .pineaple {
    display: none;
  }
  body .left .navigation-bar ul {
    margin-right: 20px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  body .left .navigation-bar ul li a {
    font-size: 14px;
  }
  body .left .content {
    background-color: #ffffff;
    position: relative;
    width: 90%;
    padding: 10px 20px;
  }
  body .left .content .teksts h1 {
    font-size: 24px;
  }
  body .left .content .teksts p {
    font-size: 14px;
    line-height: 26px;
  }
  body .left .content form .input_box {
    width: 100%;
    margin: 20px auto;
  }
  body .left .content form .input_box input {
    padding: 18px 19px;
  }
  body .left .content .h-line {
    margin: 20px auto;
  }
  body .left .content .icons {
    width: 80%;
    margin: 20px auto;
  }
  body .right {
    display: none;
  }
}

@media (max-width: 980px) {
  body .left .logo {
    margin-left: 20px;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
  body .left .logo .pineaple {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */