* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
}

body .hidden {
  display: none !important;
}

body .left {
  -webkit-box-flex: 680px;
      -ms-flex: 680px;
          flex: 680px;
  height: 1080px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .left .navigation-bar {
  width: 80%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 103px auto;
  padding-left: 15.5px;
}

body .left .navigation-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 16px;
}

body .left .navigation-bar .logo .pineaple {
  margin-left: 15px;
  margin-bottom: 4px;
}

body .left .navigation-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 49px;
}

body .left .navigation-bar ul li {
  display: inline-block;
  padding-left: 32px;
}

body .left .navigation-bar ul li a {
  color: #6A707B;
  text-decoration: none;
  font-size: 1em;
}

body .left .navigation-bar ul li a:hover {
  color: #1851b9;
}

body .left .content {
  width: 80%;
  margin-left: 125px;
  margin-top: 226px;
}

body .left .content.margins {
  margin-top: 110px;
}

body .left .content .teksts h1 {
  font-family: Georgia;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 15px;
  color: #131821;
}

body .left .content .teksts p {
  margin-top: 3px;
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;
  margin-right: 180px;
}

body .left .content form .input_box {
  position: relative;
  width: 121%;
  height: 70px;
  margin: 50px auto;
  margin-bottom: 60px;
  margin-left: -7%;
}

body .left .content form .input_box .myButton {
  border: none;
}

body .left .content form .input_box .myButton img {
  position: absolute;
  cursor: pointer;
  top: 43%;
  right: 6%;
}

body .left .content form .input_box .line {
  position: absolute;
  width: 4px;
  height: 100%;
  background: #4066A5;
}

body .left .content form .input_box input {
  outline: none;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #E3E3E4;
  padding: 20px 44px;
  font-size: 16px;
  line-height: 24px;
  color: #6A707B;
}

body .left .content form .input_box input:focus {
  -webkit-box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
          box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

body .left .content form .input_box input:hover {
  border: 1px solid #4066a5;
  -webkit-box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
          box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

body .left .content form .input_box .msg {
  display: inline-block;
}

body .left .content .container {
  margin-top: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .left .content .container .cb {
  width: 26px;
  height: 26px;
  border-radius: 3px;
}

body .left .content .container .cb:active {
  background: #4066A5;
}

body .left .content .container span {
  font-size: 16px;
  line-height: 28px;
  color: #6A707B;
  margin-left: 15px;
}

body .left .content .container span a {
  color: #000;
  font-size: 16px;
}

body .left .content .container span a:hover {
  color: #4066A5;
}

body .left .content .container span a:visited {
  color: #233759;
}

body .left .content .h-line {
  height: 1px;
  margin: 50px auto;
  background: #E3E3E4;
}

body .left .content .icons {
  width: 50%;
  height: 46px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 65px;
}

body .left .content .icons a {
  width: 46px;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #e3e3e4;
  text-align: center;
  line-height: 44px;
}

body .left .content .icons a:hover, body .left .content .icons a:focus {
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

body .left .content .icons a:hover i, body .left .content .icons a:focus i {
  color: #ffffff;
  opacity: 1;
}

body .left .content .icons a i {
  color: #131821;
  opacity: 0.3;
}

body .left .content .icons .facebook:hover {
  background: #4267b2;
}

body .left .content .icons .facebook:focus {
  background: #2F4A80;
}

body .left .content .icons .instagram:hover {
  background: #C13584;
}

body .left .content .icons .instagram:focus {
  background: #8F2762;
}

body .left .content .icons .twitter:hover {
  background: #1DA1F2;
}

body .left .content .icons .twitter:focus {
  background: #177FBF;
}

body .left .content .icons .youtube:hover {
  background: #FF0000;
}

body .left .content .icons .youtube:focus {
  background: #CC0000;
}

body .right {
  -webkit-box-flex: 1240px;
      -ms-flex: 1240px;
          flex: 1240px;
  height: 1080px;
  background-image: url(../images/image_summer.png);
}

@media (max-width: 800px) {
  body .row {
    width: auto;
  }
  body .left {
    width: 100%;
    background-image: url(../images/image_summer.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  body .left .navigation-bar {
    height: 66px;
    background-color: #ffffff;
    position: relative;
    margin: 0px auto;
    width: 100%;
  }
  body .left .navigation-bar .logo {
    margin-left: 20px;
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
  body .left .navigation-bar .logo .pineaple {
    display: none;
  }
  body .left .navigation-bar ul {
    margin-right: 21px;
  }
  body .left .navigation-bar ul li a {
    font-size: 14px;
  }
  body .left .content {
    background-color: #ffffff;
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 254px;
    padding: 10px 20px;
  }
  body .left .content .teksts h1 {
    margin-top: 30px;
    font-size: 24px;
  }
  body .left .content .teksts p {
    font-size: 14px;
    margin-right: 100px;
    line-height: 26px;
  }
  body .left .content form .input_box {
    width: 100%;
    margin: 20px auto;
    margin-bottom: 40px;
  }
  body .left .content form .input_box input {
    padding: 18px 19px;
  }
  body .left .content .h-line {
    margin: 20px auto;
  }
  body .left .content .icons {
    width: 70%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px auto;
  }
  body .right {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */